.stick {
	 padding-top: 60px;
}

h1 {
	font-family: 'Oleo Script Swash Caps', cursive;
}

h2 {
	font-family: 'Roboto', sans-serif;
}

.main-head {
	background-color: black;
	min-height: 275px;
	margin: 0;
	padding: 0;
}

.main-head h1 {
	color: #FF530D;
	padding-top: 90px;
	font-size: 80px;
}



#navbar ul li a {
	font-family: 'Open Sans', sans-serif; 
}

#menu {
	padding: 50px 10px;
}

#social-icons {
	color: white;
	padding-top: 185px;

}

/****Section Contact *****/

section {
	padding-bottom: 20px;
}


.footer {

	background-color: black;
	min-height: 150px;
}

.footer p {
	color: white;
	padding-top:200px;

}